[Desktop Entry]
Name=Ara File Manager
Comment=Ara decentralized peer node and crypto token wallet.
Exec="/snap/bin/ara-file-manager" %U
Terminl=false
Type=Application
Icon=/snap/ara-file-manager/current/icon.png
StartupWMClass=Ara File Manager
X-AppImage-Version=1.1.1
GenericName=File Manager
MimeType=x-scheme-handler/ara;
Categories=Network;
X-AppImage-BuildId=1JJr4bAIRzpggm0FW0oY7pgoho9
X-Desktop-File-Install-Version=0.24
TryExec=/snap/bin/ara-file-manager
