/* standardize */

* {
  border: none;
  font-family: 'ProximaNova-Regular';
  margin: 0;
  outline: none;
  padding: 0;
}

body {
  -webkit-app-region: drag;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

/* CSS variables */

:root {
  --ara-input-grey: #cbcbcb;
}

/* Classes */
.modal {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width: 100%;
}