@import (less) "tachyons.css";
@import "constants";

.destructive(@type) {
  @{type}: @red-200;
}

.unemp(@type) {
  @{type}: @black-500;
}

button {
  -webkit-app-region: no-drag;
  cursor: pointer;
  .br2();
  .pa2();
  .b--white();
  .b--none();

  background-color: @green-300;
  color: @white-absolute;

  &.destructive {
    .destructive(background-color);
  }

  &.unemp {
    .unemp(background-color);
  }
}

a {
  -webkit-app-region: no-drag;
  cursor: pointer;
  .no-underline();
  .pl1();

  color: @green-400;
  &.unemp {
    .unemp(color);
  }

  &.destructive {
    .destructive(color);
  }
}
