@blue-100: hsl(214.1, 90.0, 95.0);
@blue-200: hsl(214.1, 95.0, 85.0);
@blue-300: hsl(214.1, 100.0, 75.0);
@blue-400: hsl(214.1, 105.0, 65.0);
@blue-500: hsl(214.1, 110.0, 55.0);

@red-100: hsl(355.5, 90.0, 95.0);
@red-200: hsl(355.5, 95.0, 85.0);
@red-300: hsl(355.5, 100.0, 75.0);
@red-400: hsl(355.5, 105.0, 65.0);
@red-500: hsl(355.5, 110.0, 55.0);

@black-100: hsl(0.0, 0.0, 95.0);
@black-200: hsl(0.0, 0.0, 85.0);
@black-300: hsl(0.0, 0.0, 75.0);
@black-400: hsl(0.0, 0.0, 65.0);
@black-500: hsl(0.0, 0.0, 55.0);
@black-600: hsl(0.0, 0.0, 15.0);

